<ul class="list-group mod list-group-flush" style="background-color: transparent;" #listAchievements>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>

        Listo para solucionar agilmente
        <p [attr.hidden]='logroSuccess'>Conseguido</p>


    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>¿Con cual me quedo?
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Decision tomada!!
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Conociendo a scrummie
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Empezando con scrum
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Mi formacion o equipo conformado.
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Armonia dentro del equipo
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Estratega
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Scrummie guru
        <p [attr.hidden]='logroSuccess'>Conseguido</p>
    </li>
</ul>