<ul class="list-group mod list-group-flush" style="background-color: transparent;" #listAchievements>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>

        Listo para solucionar ágilmente


    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>¿Con cuál me quedo?
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Decisión tomada!!        
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Preparando las herramientas
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Empezando con Scrum
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Entendiendo el concepto
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Equipo conformado
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Armonía dentro del equipo
    </li>
    <li class="list-group-item" [ariaDisabled]='logroSuccess'>Un paso más cerca de scrummie
    </li>
</ul>