<div class="contenedor">
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 24px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <img src="../../../../assets/male_young_hair_style_sunglasses_party.png" alt="">
            </div>
            <div class="col-md-6 width-media align-self-center">
                <h5 class="card-title">UserName</h5>
                <div class="card-subtitle">Puntuacion: 50</div>
                <div class="card-subtitle">Puesto en tabla: 3</div>
            </div>
        </div>
        <!-- <img src="../../../../assets/logoFNTSV5.png" class="card-img-top" alt="..."> -->
        <div class="card-body hidden">
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary">Ver ranking de scrummies</a>
            </div>
        </div>
    </div>
</div>