<div class="container-fluid row overflow-auto">
    <div class="bg-white p-2 col-auto col-md-3 col-lg-2 min-vh-100 d-flex flex-column sidebar-left-mods">
        <a class="d-flex text-decoration-none justify-content-center text-dark hidden" [routerLink]="['/learn']">
            <img src="../../../../assets/logoFNTSV5.png" alt="Logotipo de from noobie to scrummie" class="img-resize">
        </a>
        <ul class="nav nav-pills flex-column mt-4 menu-left-mods">
            <li class="nav-item py-2 py-sm-0">
                <a class="nav-link text-dark efect-btn" [routerLink]="['/learn']" routerLinkActive="active"
                    id="nav-link-learn" [ariaSelected]="thereIsAdminEmail" [hidden]="thereIsAdminEmail">
                    <i id="i-learn" class="fs-5 fa-solid fa-book sizing-icons"></i><span
                        class="fs-5 ms-3 d-none d-sm-inline hidden">Aprender</span>
                </a>
            </li>
            <li class="nav-item py-2 py-sm-0">
                <a id="nav-link-go-over" class="nav-link text-dark efect-btn" [routerLink]="['/go-over']"
                    routerLinkActive="active" [hidden]="thereIsAdminEmail">
                    <i id="i-go-over" class="fs-5 fa-solid fa-book-bookmark sizing-icons"></i><span
                        class="fs-5 ms-3 d-none d-sm-inline hidden">Documentos de interés</span>
                </a>
            </li>
            <li class="nav-item py-2 py-sm-0 dropdown open pb-3">
                <a id="nav-link-profile" class="nav-link text-dark efect-btn" [routerLink]="['/admin']" [ariaSelected]="!thereIsAdminEmail" routerLinkActive="active" [hidden]="!thereIsAdminEmail">
                    <i id="i-profile" class="fa-solid fa-user sizing-icons"></i><span class="fs-5 ms-3 d-none d-sm-inline hidden">Dashboard</span>
                </a>
            </li>
            <li class="nav-item py-2 py-sm-0">
                <a id="nav-link-ranking" class="nav-link text-dark efect-btn" [routerLink]="['/ranking']"
                    routerLinkActive="active">
                    <i id="i-ranking" class="fa-solid fa-ranking-star sizing-icons"></i><span
                        class="fs-5 ms-3 d-none d-sm-inline hidden">Ranking</span>
                </a>
            </li>

            <li class="nav-item py-2 py-sm-0 dropdown open pb-3">
                <a id="nav-link-profile" class="nav-link text-dark efect-btn" [routerLink]="['/profile']" routerLinkActive="active" [hidden]="thereIsAdminEmail">
                    <i id="i-profile" class="fa-solid fa-user sizing-icons"></i><span class="fs-5 ms-3 d-none d-sm-inline hidden">Perfil</span>
                </a>
            </li>
            <li (click)="logOut()" class="nav-item py-2 py-sm-0">
                <a id="nav-link-ranking" class="nav-link text-dark efect-btn">
                    <i id="i-ranking" class="fa-solid fa-right-from-bracket sizing-icons"></i><span
                        class="fs-5 ms-3 d-none d-sm-inline hidden">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col p-3 main-content">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!thereIsAdminEmail" class="bg-white p-2 col-auto col-md-3 col-lg-2 min-vh-100 d-flex flex-column sidebar-right-mods">          
        <app-rigth-menu *ngIf="!thereIsAdminEmail"></app-rigth-menu>
    </div>
</div>